<% provide(:title, 'Actions') %>
<div>
	<table>
		<td> <%= link_to "All",:controller => "actions", :action => "index", :filter => "All"  %> </td>
		<td> <%= link_to "Loisir",:controller => "actions", :action => "index", :filter => "Loisir"  %> </td>
		<td> <%= link_to "Social",:controller => "actions", :action => "index", :filter => "Social"  %> </td>
		<td> <%= link_to "Sport",:controller => "actions", :action => "index", :filter => "Sport"  %> </td>
		<td> <%= link_to "Vie",:controller => "actions", :action => "index", :filter => "Vie"  %> </td>
	</table>
</div>
<% if @actions!=nil %>
<% if @actions.any? %>
<div>
	<%= render partial: 'action', collection: @actions %>
</div>
<% end %>
<% end %>
