<% provide(:title, 'Actions') %>
<div class="container">
	<nav>
		<ul class="nav pull-left">
			<li>
				<%= link_to "All",:controller => "actions", :action => "index", :filter => "All"  %>
			</li>
			<li>
				<%= link_to "Leisure",:controller => "actions", :action => "index", :filter => "Leisure"  %>
			</li>
			<li>
				<%= link_to "Routine",:controller => "actions", :action => "index", :filter => "Routine"  %>
			</li>
			<li>
				<%= link_to "Social",:controller => "actions", :action => "index", :filter => "Social"  %>
			</li>
			<li>
				<%= link_to "Sports",:controller => "actions", :action => "index", :filter => "Sports"  %>
			</li>
			
		</ul>
	</nav>
</div>
<% if @actions!=nil %>
<% if @actions.any? %>
<div id="mosaique">
	<%= render partial: 'action', collection: @actions %>
</div>
<% end %>
<% end %>
