<h1>Users#calendar</h1>
<div>
	<%= form_tag({:controller => "users", :action => "calendar"},:method=> "get") do%>
	<%= text_field_tag :date,@date_cal.to_date.to_s(:db), :class=>"date_picker"%>
	<%= submit_tag "Go", class: "btn btn-large btn-primary"%>
	<%end%>
</div>
<div class="row">
	<aside class="span3">
		<div>
			<table border="1">
				<% @hour=@date_cal.beginning_of_day()%>
				<% i=0%>
				<%until @hour>=@date_cal.beginning_of_day()+8.hours or i==100%>
				<tr height="15">
					<!-- On affiche les heures avec un fond gris -->
					<%if i%4==0%>
					<td bgcolor="grey"> <%= @hour.to_s(:time)%> </td>
					<%else%>
					<td> <%= @hour.to_s(:time)%> </td>
					<%end%>

					<%@action1.each do |a|%>
					<%if @hour>=a.start_date.to_time() || @hour+8.minutes>=a.start_date.to_time() %>
					<%=@duration=a.duration_in_quarters(@date_cal, 1)%>
					<td width="150px" rowspan=<%=@duration %>> 
						<%if @duration<=2%>
						pouet
						<%elsif @duration<=4%>
						<%= link_to image_tag(a.activity.pic_path,:size => "50x50"),:controller => "action_posts", :action => "edit",:id => a.id %> 
						<%else%>
						<%= link_to image_tag(a.activity.pic_path),:controller => "action_posts", :action => "edit",:id => a.id %> 
						<%end%>
					</td>
					<% @action1.slice!(@action1.index(a))%>
					<%end%>
					<%end%>
				</tr>
				<% @hour+=15.minutes%>
				<% i+=1%>
				<%end%>
			</table>
		</div>
	</aside>
	<aside class="span3">
		<div>
			<table border="1">
				<% @hour=@date_cal.beginning_of_day()+8.hours %>
				<% i=0%>
				<%until @hour>=@date_cal.beginning_of_day()+16.hours or i==100%>
				<tr height="15">
					<!-- On affiche les heures avec un fond gris -->
					<%if i%4==0%>
					<td bgcolor="grey"> <%= @hour.to_s(:time)%> </td>
					<%else%>
					<td> <%= @hour.to_s(:time)%> </td>
					<%end%>

					<%@action2.each do |a|%>
					<%if @hour>=a.start_date.to_time() || @hour+8.minutes>=a.start_date.to_time() %>
					<td width="150px" rowspan=<%= a.duration_in_quarters(@date_cal,2)%>> <%= link_to image_tag(a.activity.pic_path),:controller => "action_posts", :action => "edit",:id => a.id %> </td>
					<% @action2.slice!(@action2.index(a))%>
					<%end%>
					<%end%>
				</tr>
				<% @hour+=15.minutes%>
				<% i+=1%>
				<%end%>
			</table>
		</div>
	</aside>
	<aside class="span3">
		<div>
			<table border="1">
				<% @hour=@date_cal.beginning_of_day()+16.hours%>
				<% i=0%>
				<%until @hour>=@date_cal.beginning_of_day()+24.hours or i==100%>
				<tr height="15">
					<!-- On affiche les heures avec un fond gris -->
					<%if i%4==0%>
					<td bgcolor="grey"> <%= @hour.to_s(:time)%> </td>
					<%else%>
					<td> <%= @hour.to_s(:time)%> </td>
					<%end%>

					<%@action3.each do |a|%>
					<%if @hour>=a.start_date.to_time() || @hour+8.minutes>=a.start_date.to_time() %>
					<td width="150px" rowspan=<%= a.duration_in_quarters(@date_cal,3)%>> <%= link_to image_tag(a.activity.pic_path),:controller => "action_posts", :action => "edit",:id => a.id %> </td>
					<% @action3.slice!(@action3.index(a))%>
					<%end%>
					<%end%>
				</tr>
				<% @hour+=15.minutes%>
				<% i+=1%>
				<%end%>
			</table>
		</div>
	</aside>
</div>