<% provide(:title, @user.name)%> <h1>Your Stats</h1>
<div>
	<ul>
		<li>
			<%= link_to "Time",:controller => "users", :action => "stats",:id=>@user.id, :filter =>"time"  %>
		</li>
		<li>
			<%= link_to "Money",:controller => "users", :action => "stats",:id=>@user.id, :filter =>"money"  %>
		</li>
	</ul>
</div>

<div>
	<h3>Routine</h3>
	<%if @work !=""%>
	<div>
		<%= @work%>
	</div>
	<%end%>
	<%if @study !=""%>
	<div>
		<%= @study%>
	</div>
	<%end%>
	<%if @wash !=""%>
	<div>
		<%= @wash%>
	</div>
	<%end%>
	<%if @eat !=""%>
	<div>
		<%= @eat%>
	</div>
	<%end%>
	<%if @sleep !=""%>
	<div>
		<%= @sleep%>
	</div>
	<%end%>
	<h3>Social</h3>
	<%if  @coffee !=""%>
	<div>
		<%= @coffee%>
	</div>
	<%end%>
</div>