<li id="<%= feed_action_item.id %>">
  <%= link_to gravatar_for(feed_action_item.user), feed_action_item.user %>
  <span class="user">
    <%= link_to feed_action_item.user.name, feed_action_item.user %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(feed_action_item.created_at) %> ago.
  </span>
  <% if current_user?(feed_action_item.user) %>
  
    <% if feed_action_item.public %>
	    <%= link_to "private",:controller => "action_posts", :action => "set_private",:id => feed_action_item.id%>               
  	<% else %>
	    <%= link_to "public",:controller => "action_posts", :action => "set_public",:id => feed_action_item.id%>               
  	<% end %> 
  
    <%= link_to "delete", feed_action_item, method: :delete,
                                     data: { confirm: "You sure?" } %>
  <% end %>
</li>