<li id="<%= feed_action_item.id %>">
	<%= link_to gravatar_for(feed_action_item.user), feed_action_item.user %>
	<span class="user"> <%= link_to feed_action_item.user.name, feed_action_item.user %> </span>
	<div>
		Le <%= feed_action_item.start_date.to_date()%>
	</div>
	<div>
		<% @action=Action.find(feed_action_item.action_id)%>
		<% if current_user?(feed_action_item.user) %>
		<%= link_to image_tag(@action.pic_path, :size => "50x50"),:controller => "action_posts", :action => "edit",:id => feed_action_item.id %>
		<% else %>
		<% image_tag(@action.pic_path, :size => "50x50")%>
		<% end %>
	</div>
	<span class="timestamp"> Posted <%= time_ago_in_words(feed_action_item.created_at) %> ago. </span>

	<% if current_user?(feed_action_item.user) %>

	<% if feed_action_item.public %>
	<%= link_to "private",:controller => "action_posts", :action => "set_private",:id => feed_action_item.id%>
	<% else %>
	<%= link_to "public",:controller => "action_posts", :action => "set_public",:id => feed_action_item.id%>
	<% end %>

	<%= link_to "delete", feed_action_item, method: :delete,
	data: { confirm: "You sure?" } %>
	<% end %>

</li>