<%= form_for(@action_post,:url => { :action => :create, :action_id => params[:action_id] })  do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<%=image_tag(@action_post.action.pic_path,:alt=>@action_post.action.name)%>
<div class="actions">
	<table>
		<tr>
			<td> <%= f.label :start_date, "Start Date" %>
			<%= f.datetime_select :start_date, :default => 5.minutes.ago%> </td>
			<td> <%= f.label :end_date, "End Date" %>
			<%= f.datetime_select :end_date, :default => 5.minutes.ago%> </td>		
		</tr>
		<tr>
			<td> <%= f.label :comment, "Comment" %>
			<%= f.text_area :comment, placeholder: "Comment..." , :rows=>1%> </td>
			<td> <%= f.label :place, "Place" %>
			<%= f.text_area :place, placeholder: "Place..." , :rows=>1%> </td>
		</tr>
		<tr>
			<td> <%= f.label :score, "Note" %>
			<%= f.number_field :score, :in=> 0...10%> </td>
			<td> <%= f.label :price, "Price" %>
			<%= f.number_field :price, :min =>0%> </td>
		</tr>
	</table>
	<%= f.submit "Post", class: "btn btn-large btn-primary"%>
</div>
<% end %>
