<%= form_for(@action_post,:url => { :action => :update},:id=>@action_post.id)  do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<%= image_tag(@action_post.action.pic_path,:alt=>@action_post.action.name)%>
<div class="actions">
	<table width="100%">
		<tr>
			<td> <%= f.label :start_date, "Start Date" %>
			<%= f.datetime_select :start_date%> </td>
			<td> <%= f.label :end_date, "End Date" %>
			<%= f.datetime_select :end_date%> </td>
		</tr>
		<tr>
			<td> <%= f.label :comment, "Comment" %>
			<%= f.text_area :comment, :rows=>1%> </td>
			<td> <%= f.label :place, "Place" %>
			<%= f.text_area :place, :rows=>1%> </td>
		</tr>
		<tr>
			<td> <%= f.label :score, "Note" %>
			<%= f.number_field :score, :in=> 0...10%> </td>
			<td> <%= f.label :price, "Price" %>
			<%= f.number_field :price, :min =>0%> </td>
		</tr>
	</table>
	<%= f.submit "Update", class: "btn btn-large btn-primary"%>
</div>
<% end %>
