<%= form_for(@action_post,:url => { :action => :create, :action_id => params[:action_id] })  do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<%=image_tag(@action_post.action.pic_path,:alt=>@action_post.action.name)%>
<div class="actions">
	<table width="100%">
		<tr>
			<td> <%= f.label :start_date, "Start Date" %>
			<%= f.text_field :start_date,:class=>"date_and_time", :default => 5.minutes.ago%> </td>
			<td> <%= f.label :end_date, "End Date" %>
			<%= f.text_field :end_date,:class=>"date_and_time", :default => 5.minutes.ago%> </td>		
		</tr>
		<tr>
			<%if @action_post.action.has_comment%>
			<td> <%= f.label :comment, "Comment" %>
			<%= f.text_area :comment, placeholder: "Comment..." , :rows=>1%> </td>
			<%end%>
			<%if @action_post.action.has_place%>
			<td> <%= f.label :place, "Place" %>
			<%= f.text_area :place, placeholder: "Place..." , :rows=>1%> </td>
			<%end%>
		</tr>
		<tr>
			<%if @action_post.action.has_score%>
			<td> <%= f.label :score, "Note" %>
			<%= f.number_field :score, :in=> 0...10%> </td>
			<%end%>
			<%if @action_post.action.has_price%>
			<td> <%= f.label :price, "Price" %>
			<%= f.text_field  :price%> </td>
			<%end%>
		</tr>
	</table>
	<%= f.submit "Post", class: "btn btn-large btn-primary"%>
</div>
<% end %>
